.register_header {
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
    background: url("../../images//register.jpg");
    background-position: center;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        aspect-ratio: 1/1;
        background: rgb(0, 0, 0, 0.5);
        inset: 0;
    }
    h1 {
        letter-spacing: 1px;
    }
    .register_main {
        z-index: 999999;
        border: 2px solid white;
        box-shadow: 0 0 10px white;
        border-radius: 30px;
        display: flex;
        max-height: 80vh;
        overflow: hidden;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            aspect-ratio: 1/1;
            background: rgb(255, 255, 255, 0.01);
            inset: 0;
        }
        img {
            object-fit: cover;
            object-position: center;
        }
        > div {
            width: 50%;
        }
        .form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 30px;
            gap: 30px;
            position: relative;

            h1 {
                color: white;
            }
            input {
                font-family: "Primary";
                outline: none;
                padding: 5px;
                background: transparent;
                border: none;
                border-bottom: 2px solid white;
                color: white;
                font-size: 15px;
                width: 100%;
                &::placeholder {
                    color: white;
                    font-size: 15px;
                }
                &:-webkit-autofill {
                    background-color: transparent !important;
                }
            }
            .register_form_main {
                display: flex;
                flex-direction: column;
                gap: 10px;
                span {
                    position: relative;
                    .error_message {
                        position: absolute;
                        right: 0;
                        text-align: right;
                        bottom: 5px;
                        color: red;
                    }
                }
                > div {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
                .radios {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    .label_radio {
                        gap: 5px;
                        color: white;
                        display: flex;
                    }
                }
                .formik_left {
                    position: relative;
                }
            }
            button {
                color: rgb(115, 105, 66);
                font-size: 16px;
                background: white;
                padding: 3px 15px;
                letter-spacing: 2px;
                border-radius: 9px;
                border: 2px solid transparent;
                cursor: pointer;
                transition: 0.2s;
                float: right;
                margin-top: 20px;
                &:hover {
                    color: white;
                    background: transparent;
                    border: 2px solid white;
                    transition: 0.2s;
                }
            }
        }
        .submitButton {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                color: white;
                font-size: 17px;
                a {
                    color: wheat;
                    font-weight: bolder;
                    position: relative;
                    overflow: hidden;
                    padding-bottom: 6px;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: wheat;
                        bottom: 0;
                        scale: 0;
                        transition: 0.2s;
                        transform-origin: left;
                    }
                    &:hover::before {
                        scale: 1;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}
.gender_birthday {
    width: 100% !important;
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between;
    .birthdayDiv {
        color: white;
        text-align: right;
        letter-spacing: 1px;
    }
}
